/* Cards Carousals block */
.cardCarouselMainCon {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* height: 100%; */
  flex-direction: column;
  margin-left: 10px;
  margin-left: auto;
  margin-right: auto;
}
 
.srcollButton {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  width: 48px;
  height: 48px;
  /* bottom: 45%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 50%;
}

.cardCarouselMainCon:hover .srcollButton {
  opacity: 1;
}

.srcollButtonIcons {
  width: 20px;
  height: 20px;
  stroke-width: 3px;
  stroke: black;
}

/* left-[10px] md:left-[-40px] z-[10] rotate-180 */
.srcollButtonLeft {
  left: -15px;
  z-index: 3;
  transform: rotate(180deg);
}

/* right-[10px] md:right-[-40px] z-[10] */
.srcollButtonRight {
  right: -15px;
  z-index: 2;
}

.cardsHoldingContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  /* cursor: grab; */
  scroll-behavior: smooth;
  user-select: none;
}

.cardsHoldingContainer::-webkit-scrollbar {
  display: none;
}

.cardsHoldingInnerContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* height: 100%; */
  max-width: 100%;
  /* margin-bottom: 2rem; */
}



@media only screen and (min-width: 602px) and (max-width: 1600px) {
    .srcollButton {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        bottom: 60%;
    }
}